{{define "base" }}
    <!doctype html>
    <html lang="en">

    {{template "header" .}}

    <body>

    {{template "nav" .}}
    
    {{block "content" .}}

    {{end}}

    {{block "js" .}}

    {{end}}

    </body>
    </html>

{{end}}